
<plugin id="DroidTrackingQt" version="@DASH_VERSION@" >

    <requirement id="dataReg" />
    <requirement id="arDataReg" />
    <requirement id="servicesReg" />
    <requirement id="visuVTKQt" />

    <xi:include href="configurations/deviceParameters.xml" xmlns:xi="http://www.w3.org/2003/XInclude" />

    <extension implements="::fwServices::registry::AppConfig">
        <id>DroidTrackingQtConfig</id>
        <config>
        <object type="::fwData::Composite">
           <service uid="myFrame" type="::fwGui::IFrameSrv" impl="::gui::frame::SDefaultFrame" autoConnect="no" >
                <gui>
                    <frame>
                        <name>TestTrackingQt</name>
                        <icon>/data/data/com.fw4spl.DroidTrackingQt/Bundles/DroidTrackingQt_0-1/tuto.ico</icon>
<!--                        <minSize width="2048" height="1440"/> -->
                    </frame>
                    <toolBar >
                        <toolBitmapSize height= "100" width="100" />
                    </toolBar>
                </gui>
                <registry>
                    <toolBar sid="toolBar" start="yes" />
                    <view sid="scene" start="yes" />
                </registry>
            </service>

            <service uid="toolBar" type="::fwGui::IToolBarSrv" impl="::gui::aspect::SDefaultToolBar" autoConnect="no" >
                <gui>
                    <layout>
                        <menuItem name="load" icon="/data/data/com.fw4spl.DroidTrackingQt/Bundles/DroidTrackingQt_0-1/icons/showHide.png" />
                        <separator />
                        <menuItem name="Show/Hide" icon="/data/data/com.fw4spl.DroidTrackingQt/Bundles/DroidTrackingQt_0-1/icons/show.png" icon2="/data/data/com.fw4spl.DroidTrackingQt/Bundles/DroidTrackingQt_0-1/icons/hide.png" style="check" />
                        <separator />
                        <menuItem name="start" icon="/data/data/com.fw4spl.DroidTrackingQt/Bundles/DroidTrackingQt_0-1/icons/start.png" />
                    </layout>
                </gui>
                <registry>
                    <menuItem sid="load" start="yes" />
                    <menuItem sid="showMesh" start="yes" />
                    <menuItem sid="start" start="yes" />
                </registry>
            </service>

            <service uid="load" type="::fwGui::IActionSrv" impl="::gui::action::SSlotCaller" autoConnect="no">
                <slots>
                    <slot>meshReader/update</slot>
                </slots>
            </service>

           <service uid="showMesh" type="::fwGui::IActionSrv" impl="::gui::action::SBooleanSlotCaller" autoConnect="no">
                <state active="true" />
                <slots>
                    <slot>meshAdaptorUid/updateVisibility</slot>
                </slots>
            </service>

            <service uid="start" type="::fwGui::IActionSrv" impl="::gui::action::SSlotCaller" autoConnect="no">
                <slots>
                    <slot>androidCamera/update</slot>
                </slots>
            </service>

            <service uid="scene" impl="::fwRenderVTK::SRender" type="::fwRender::IRender" autoConnect="yes">
                <scene autoRender="true">
                    <renderer id="background" layer="0" background="#000000"/>
                    <renderer id="default" layer="1" background="#000000" />
                    <picker id="myPicker" vtkclass="fwVtkCellPicker" />

                   <adaptor id="meshAdaptor" uid="meshAdaptorUid" class="::visuVTKAdaptor::Mesh" objectId="mesh">
                        <config renderer="default" transform="transformMesh" autoresetcamera="no" picker="myPicker" />
                   </adaptor>

                   <adaptor id="transformAdaptor" class="::visuVTKAdaptor::Transform" objectId="transform">
                       <config renderer="default" transform="transformMesh"/>
                   </adaptor>

                   <adaptor id="cameraAdaptor" class="::visuVTKARAdaptor::SCamera" objectId="cameraTransform">
                       <config renderer="default" cameraUID="camera" imageUID="image" />
                   </adaptor>

                   <adaptor id="videoAdapter" class="::visuVTKARAdaptor::SVideoAdapter" objectId="image">
                       <config renderer="background" cameraUID="camera"/>
                   </adaptor>

                    <adaptor id="interactorStyle" class="::visuVTKAdaptor::InteractorStyle" objectId="self">
                       <config renderer="default" style="FixedInteractorStyle" />
                   </adaptor>

                </scene>
            </service>

            <service uid="tracker" impl="::trackerAruco::SArucoTracker" autoConnect="no" worker="tracking">
                <config>
                    <timelineVideo>frameTL</timelineVideo>
                    <camera>camera</camera>
                    <track>
                        <marker id="101" timeline="markerTL" />
                    </track>
                    <threshold>
                        <method>ADPT_THRES</method>
                        <blockSize>7</blockSize>
                        <constant>7</constant>
                    </threshold>
                    <patternWidth>60</patternWidth>
                    <debugMarkers>yes</debugMarkers>
                </config>
            </service>

            <service uid="markerRegistration" impl="::tracker::SHomography" autoConnect="no" worker="registration">
                <config>
                    <markerTL>
                        <key>markerTL</key>
                    </markerTL>
                    <camera>
                        <key>camera</key>
                    </camera>
                    <matrixTL>markerMatrixTL</matrixTL>
                    <patternWidth>60</patternWidth>
                </config>
            </service>

            <service uid="synchronizer" impl="::videoTools::SFrameMatrixSynchronizer" autoConnect="no" worker="videoWorker">
                <frames>
                    <frame from="frameTL" to="image" />
                </frames>
                <matrices>
                    <timeline from="markerMatrixTL">
                        <matrix index="0" to="transform" />
                    </timeline>
                </matrices>
                <framerate>60</framerate>
            </service>

            <item key="markerTL">
                <object uid="markerTLUid" type="::arData::MarkerTL" />
            </item>

            <item key="markerMatrixTL">
                <object uid="markerMatrixTLUid" type="::extData::MatrixTL" />
            </item>

            <item key="transform">
                <object uid="transform" type="::fwData::TransformationMatrix3D" />
            </item>

            <item key="camera">
                <object uid="camera" type="::arData::Camera">
                    <service uid="extractDeviceInfo" impl="::ctrlCamera::SExtractDeviceInfo" type="::fwServices::IController" autoConnect="no">
                        <cameraUid>camera</cameraUid>
                        <configId>DeviceSelectorServiceConfig</configId>
                    </service>
                </object>
            </item>

            <item key="frameTL">
                <object uid="frameTLUid" type="::extData::FrameTL">
                    <service uid="androidCamera" impl="::visuVideoAndroid::camera::SAndroidCamera" type="::fwServices::IService" autoConnect="no">
                        <cameraId>0</cameraId>
                        <autoFocus>true</autoFocus>
                        <width>640</width>
                        <height>480</height>
                        <fps>60</fps>
                    </service>
                    <value>50</value>
                </object>
            </item>

            <item key="cameraTransform">
                <object uid="cameraTransform" type="::fwData::TransformationMatrix3D" />
            </item>

            <item key="image">
                <object uid="image" type="::fwData::Image" />
            </item>


            <item key="mesh">
                 <object uid="mesh" type="::fwData::Mesh">

               <!--<service uid="scene" impl="::vtkSimpleMesh::SRenderer" autoConnect="yes" />-->
                   <service uid="meshReader" impl="::ioVTK::SMeshReader" type="::io::IReader" autoConnect="yes">
                       <file>/data/data/com.fw4spl.DroidTrackingQt/Bundles/DroidTrackingQt_0-1/cube.vtk</file>
                   </service>
               </object>
            </item>

            <start uid="androidCamera" />
            <start uid="extractDeviceInfo" />
            <start uid="myFrame" />

            <start uid="meshReader" />

            <start uid="synchronizer" />
            <start uid="tracker" />
            <start uid="markerRegistration" />

            <update uid="extractDeviceInfo" />

        </object>
        </config>
    </extension>
</plugin>
