<plugin id="uiDroid" class="::uiDroid::Plugin" version="@PROJECT_VERSION@">
    <library name="uiDroid" />
    
    <extension implements="::fwServices::registry::ServiceFactory">
        <type>::fwServices::IService</type>
        <service>::uiDroid::SButton</service>
        <object>::fwData::Object</object>
    </extension>

</plugin>
